.footer{
    position:relative;
    bottom: 0px;
    height: 60px;
    width: 100%;
}
.dg-dark {
    position: absolute;
    background-color: black;
   color: darkgray;
}
.container{
    color: #f7f7f7;
}